.todo-app {
  width: 100%;
  max-width: 540px;
  background: var(--clr-light);
  margin-inline: auto;
  padding: 40px 30px 70px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid black;
}
.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 0.5rem;
  /* border: 1px solid black; */
}
.lni-notepad {
  font-size: var(--size-xl);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #edeef0;
  border-radius: 30px;
  /* padding-left: 20px; */
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}
button {
  border: none;
  outline: none;
  padding: 10px 15px;
  background: black;
  color: #fff;
  font-size: var(--size-xs);
  cursor: pointer;
  border-radius: 40px;
}
#input-box {
  width: 100%;
  /* border: 1px solid black; */
}
.box-content {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

ul li {
  list-style: none;
  font-size: var(--size-lg);
  /* padding: 12px 8px 12px 50px; */
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: '\ead2';
  font-family: 'LineIcons';
  font-size: 18px;
  color: red;
  margin-right: 8px;
  display: inline-block;
  height: 50px;
  width: 28px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  content: '\ead2'; /* Unicode for the checkmark-circle icon */
  color: lightgreen;
}
ul li.checked::after {
  content: '';
  position: absolute;
  left: 20px; /* Start of the line */
  width: 2px; /* Line thickness */
  background-color: #00ff00; /* Line color */
  height: 100%; /* Line height to cover the height of the item */
  top: 50%; /* Center line vertically */
  transform: translateY(-50%); /* Center line vertically */
  z-index: -1; /* Place the line behind the text and checkmark */
}

ul li span {
  /* border: 1px solid red; */
  position: absolute;
  left: 230px;
  top: 5px;
}

.remove-icon {
  font-family: 'LineIcons';
  font-size: 18px; /* Adjust size as needed */
  color: black; /* Default color */
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth transition for color change */
}
.remove-icon:hover {
  color: red; /* Color when the icon is hovered */
}

/* xs */
@media (min-width: 475px) {
  button {
    padding: 10px 30px;
    right: 0px;
  }
  ul li span {
    left: 290px;
  }
}

/* Sm */
@media (min-width: 640px) {
}

/* md */
/* @media (min-width: 768px) {}  */

/* Lg */
/* @media (min-width: 1024px) {} */

/* xL */
/* @media (min-width: 1280px) {}  */

/* 2xL */
/* @media (min-width: 1536px) {} */
